dotenv

html2text

langchain_community
langchain-openai

infinity_emb[all]

yfinance
pandas
pandas_datareader

beautifulsoup4
lxml

tqdm

Requests
httpx[http2]
tenacity

pypdf
PyMuPDF

numpy

setuptools
scipy

joblib